body {
    background-image: url('../images/login_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: wheat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
