
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<link href="~/StyleSheets/about.css" rel="stylesheet" />

<div class="container1">
    <div id="carousel1">

        <figure><img src="~/Images/1.jpg" alt=""></figure>
        <figure><img src="~/Images/2.jpg" alt=""></figure>
        <figure><img src="~/Images/3.jpg" alt=""></figure>
        <figure><img src="~/Images/4.jpg" alt=""></figure>
        <figure><img src="~/Images/5.jpg" alt=""></figure>
        <figure><img src="~/Images/6.jpg" alt=""></figure>
        <figure><img src="~/Images/7.jpg" alt=""></figure>
        <figure><img src="~/Images/8.jpg" alt=""></figure>
        <figure><img src="~/Images/9.jpg" alt=""></figure>
    </div>
</div>

<div class="jumbotron">
    <p>Real Estate Rent Management System was established in 2000 and has since become a leader in the domain of Real Estate Rent Business. </p>
    <p>The Real Estate Rent Management System will facilitate the automation of the renting and helps to people to get the house they require for rent across the state. The application will automate the existing way of client physically approaching all the houses in a particular region for rent and also Owner waiting for someone to approach him directly by providing online way of registration and providing their requirement details.</p>
</div>

