
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link href="~/StyleSheets/Contact.css" rel="stylesheet" />

<div class="jumbotron">
    <p class="glyphicon glyphicon-user"> Real Estate Management</p><br />
    <p class="glyphicon glyphicon-envelope"> realestate@gmail.com</p><br />
    <p class="glyphicon glyphicon-earphone"> 8123456123</p><br />
    <p class="glyphicon glyphicon-map-marker"> Electronic City, Bangalore</p><br />
</div>




