
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOwner.cshtml";
}

<center><h2 style="color:white;">Hi @Session["Username"]</h2></center>

@*@Html.ActionLink("add property","addprop")

@Html.ActionLink("show uploaded prop", "showlistpropad")*@