
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBroker.cshtml";
}
<style>
    .jumbotron{
        width:40%;
        height:50%;
        background-color:rgba(255, 252, 193, 0.47);
        color:#860970;
        margin-left:100px;
    }
</style>
<center>
    <h2 style="color:#860970;">Hi @Session["Username"]</h2>
</center>

@*<div class="jumbotron">
    <h3>A broker checks the client requirements and gives property recommendations for the clients</h3>
    
</div>*@
